<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2>Event</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Event Date</span></dt>
                <dd>
                    <span>{{event.eventDate}}</span>
                </dd>
                <dt><span>Event Code</span></dt>
                <dd>
                    <span>{{event.eventCode}}</span>
                </dd>
                <dt><span>Event Location</span></dt>
                <dd>
                    <div *ngIf="event.eventLocationDTO.locationName">
                      <span>  {{event.eventLocationDTO.locationName}}</span>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
