<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventUser">
            <h2><span>Event User</span> {{eventUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{eventUser.username}}</span>
                </dd>
                <dt><span>Home Location</span></dt>
                <dd>
                    <div *ngIf="eventUser.homeLocationId">
                        <a [routerLink]="['/event-location', eventUser.homeLocationId, 'view']">{{eventUser.homeLocationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-user', eventUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
