<div>
    <h2 id="page-heading">
        <span>Event Attendances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-attendance" [routerLink]="['/event-attendance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Event Attendance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="eventAttendances?.length === 0">
        <span>No eventAttendances found</span>
    </div>
    <div class="table-responsive" *ngIf="eventAttendances?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="attendanceDate"><span>Attendance Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eventId"><span>Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let eventAttendance of eventAttendances ;trackBy: trackId">
                <td>{{eventAttendance.attendanceDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="eventAttendance.eventDTO">
                        <a [routerLink]="['/event', eventAttendance.eventDTO.eventCode , 'view' ]" >{{eventAttendance.eventDTO.eventCode}}</a>
                    </div>
                </td>
                <td>
                    {{eventAttendance.userDTO.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/event-attendance', eventAttendance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-attendance', eventAttendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-attendance', { outlets: { popup: eventAttendance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
