<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-event-attendance-heading">Create or edit a Event Attendance</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <input type="hidden" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attendanceDate">Attendance Date</label>
                    <div class="input-group">
                        <input id="field_attendanceDate" type="text" class="form-control" name="attendanceDate" ngbDatepicker  #attendanceDateDp="ngbDatepicker" formControlName="attendanceDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="attendanceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_event">Event</label>
                    <select class="form-control" id="field_event" name="event" formControlName="eventDTO" >
                        <option [ngValue]="eventOption" *ngFor="let eventOption of events; trackBy: trackEventById">{{eventOption.eventCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eventUser">Event User</label>
                    <select class="form-control" id="field_eventUser" name="eventUser" formControlName="eventUser">
                        <option [ngValue]="eventUserOption" *ngFor="let eventUserOption of eventusers; trackBy: trackEventUserById">{{eventUserOption.username}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
