<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventLocation">
            <h2><span>Event Location</span> {{eventLocation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Location Name</span></dt>
                <dd>
                    <span>{{eventLocation.locationName}}</span>
                </dd>
                <dt><span>Event Day Of Week</span></dt>
                <dd>
                    <span>{{eventLocation.eventDayOfWeek}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-location', eventLocation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
