<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Welcome to Events App!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success mt-5" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}"</span>
            </div>

            <div class="alert alert-success mt-5" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">Sign in</a><span>, for events creation<br/>
                - Get free access for events creator. <br/>
                - Create your Event organization team.<br/>
                - Invite new members.<br/></span>
            </div>
            <div class="alert alert-success mt-5" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
